#videoFileDisplay {
    width: 80vw;
    height: 70vh;
}

#videoDisplay {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#videoTitle {
    color: white;
    text-align: center;
}

#discussionPanel {
    padding: 1%;
    border-radius: 5%;
    background-color: rgb(0,0,0,0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#descriptionPanel {
    margin-bottom: 5%;
    text-align: center;
}

#discussionPanel p {
    color: white;
    text-align: center;
}

#discussionPanel h2 {
    color: white;
    text-align: center;
}

#discussionPanel h3 {
    color: white;
    text-align: center;
}

#discussionPanel h2 {
    text-align: center;
    background-color: black;
    border-radius: 15px;
    padding: 1%;
}

@media (max-width: 720px) {
    #videoFileDisplay {
        width: 80vw;
        height: 50vh;
    }

    #videoDisplay {
        margin: 6vh;
    }

}